<div class="dynamic-modal-container">
  <div
    class="modal-header flex items-center py-5 px-6"
    *ngIf="nzModalData.options?.header"
  >
    <span class="text-base font-bold">{{
      nzModalData.modalContent?.headerText
    }}</span>
  </div>
  <div
    class="modal-body text-center"
    [ngClass]="nzModalData.options?.header ? 'pt-9' : 'pt-0'"
    *ngIf="nzModalData.options?.body"
  >
    <span>{{ nzModalData.modalContent?.body }}</span>
  </div>
  <div
    class="button flex justify-end"
    [ngClass]="
      nzModalData.options?.header && !nzModalData.options?.body
        ? 'pt-9'
        : 'pt-4'
    "
    *ngIf="nzModalData.options?.button"
  >
    <div class="no-confirm flex basis-1/5">
      <button
        nz-button
        nzBlock
        nzType="primary"
        nzDanger
        type="button"
        *ngIf="!nzModalData.options?.buttonConfirm"
      >
        {{ nzModalData.modalContent?.buttonText }}
      </button>

      <button
        nz-button
        nzBlock
        nzType="primary"
        nzDanger
        type="button"
        *ngIf="nzModalData.options?.buttonConfirm"
        nz-popconfirm
        [nzPopconfirmTitle]="nzModalData.modalContent?.confirmText"
        nzPopconfirmPlacement="bottom"
      >
        {{ nzModalData.modalContent?.buttonText }}
      </button>
    </div>
  </div>
</div>
