<div class="flex gap-2">
  <nz-switch [(ngModel)]="options.header"></nz-switch>
  <div class="flex flex-col gap-2">
    <span>Incluir cabecera</span>
    <div *ngIf="options.header" class="options">
      <form nz-form [formGroup]="modalForm" [nzLayout]="'vertical'">
        <nz-form-item>
          <nz-form-label nzFor="headerText">{{
            "Texto de cabecera"
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="headerTextErrorTpl">
            <input
              nz-input
              formControlName="headerText"
              id="headerText"
              [placeholder]="'Introduce el texto para la cabecera'"
            />
            <ng-template #headerTextErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{
                "Debes introducir un texto para la cabecera"
              }}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
